<h1><%= @task.title %></h1>

<div class="classificar">
<h4><%= @task.details %></h4>
</div>


<h4><%= link_to "Edit", edit_task_path(@task) %></h4>
<h4><%= link_to "Back to all tasks", tasks_path %></h4>


